@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');

body{
  background-color: white;
}

h3,h1,a{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

